# Puppet 

.rspec
results
tags
.*.sw[op]
ext/packaging
pkg
test.pp
.yardoc
/doc
/.rvmrc
.bundle/
ext/packaging/
pkg/
Gemfile.lock
Gemfile.local
.bundle/
puppet-acceptance/
/.project
.idea/
.ruby-version
.ruby-gemset
acceptance/junit
acceptance/log
acceptance/.bundle

# Python

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Vagrant 

.DS_Store
.*.sw?
*~
acceptance_config.yml
boxes/*
/.vagrant
.vagrant
vagrant/*
/website/docs/.vagrant
/website/www/.vagrant
/vagrant-spec.config.rb